/*
    Font Imports
*/
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Exo+2:wght@500&family=Quicksand:wght@300;400;500;600;700&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400&family=Roboto&family=Sofia+Sans+Semi+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');

/*
    THE BODY
*/

body{
    background-image: url("../imgs/app.jpeg");
}

/*
    MODIFYING THE NAV BAR COLORS
*/

.header_wrapper_outer{
    background-color: rgb(100, 100, 0);
}


/*
    BOOK AN APPOINTMENT TITLE 
*/

.page_title{
    margin-top: 170px;
    margin-bottom: 30px;
}

.page_title h2{
    font-family: 'Dosis';
    color: white;
    text-align: center;
    word-spacing: 1ch;
    text-transform: uppercase;
    letter-spacing: 0.4ch;
    font-size: 50px;
    padding: 20px 0;

    text-shadow: 0px 0px 5px blue;
    background-color: rgba(0, 0, 0, 0.7);
    border: 1px solid white;

    margin-left: 20%;
    margin-right: 20%;

    transition: 0.3s linear;
}

.page_title h2:hover{
    margin-left: 0;
    margin-right: 0;

    background-color: white;
    color: black;
    text-shadow: none;

    border-left: none;
    border-right: none;
}

/*
    THE BOOKING CARD
*/

.booking_card{
    margin-left: 10%;
    margin-right: 10%;

    background-color: rgba(200, 0, 0, 0.2);
    padding: 30px;
    border-radius: 5px;
    border: 1px solid red;
}

.booking_card:hover{
    background-color: rgba(255, 0, 0, 0.5);
    box-shadow: 0 0 20px rgba(255, 0, 0, 0.8);
}

.booking_card .booking_wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.booking_left{
    max-width: 50%;
}

.booking_left img{
    border-radius: 4px;
    box-shadow: 1px 1px 10px black;
}


/*
    THE FORM
*/

.booking_right{
    background-color: rgba(255, 0, 0, 0.5);
    border: 2px red solid;
    border-radius: 3px;
}

.booking_right form{
    padding: 40px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.booking_right form label{
    font-family: 'Nunito';
    font-size: 18px;
    text-shadow: 0px 0px 2px white ;
    color: rgb(255, 255, 255);
}

.booking_right form input{
    width: 200px;
    height: 24px;
    font-size: 16px;
    color: black;
    background-color: rgb(170, 170, 170, 0.9);
    border: 1px black solid;
    font-family: sans-serif;
}

.booking_right form input[type="datetime-local"]{
    font-size:13px;
}

.booking_right form input:focus{
    background-color: rgb(10, 10, 10, 1);
    color: rgb(200, 200, 200);
}


#longlabel{
    white-space: nowrap;
}

.booking_right form button{
    text-align: center;
    margin-left: auto;
    margin-top: 30px;
    padding: 14px 14px 14px 0px;
    width: 500px;
    font-size: 22px;
    font-family: 'Open sans';
    text-transform: uppercase;

    background-color: #fdb657;
    color: #002f3b;

    transition: background-color 0.3s ease-in-out;
}

.booking_right form button:hover{
    color: #fdb657;
    background-color: #002f3b;
}