
/*
    THANK YOU CARD
*/

.thanks_card{
    display: none;
    background-color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: black 15px double;
    border-radius: 15px;
    box-shadow: 1px 1px 4px black;
}

.thanks_card img{
    padding: 10px;
    margin-left: 50%;
    transform: translateX(-50%);
}

.thanks_card h5{
    max-width: 320px;
    padding: 2px 15px 2px 15px;
    font-size: 15px;
    text-align: center;
    font-family: Tahoma;
}

.thanks_card > .wrapper{
    position: relative;
}

.cross{
    position: absolute;
    right: 0;
    top: 0;
}

.cross img{
    width: 40px;
    transition: width 0.1s ease-in;
}

.cross img:hover{
    width: 50px;
}

/*
    ERROR CARD
*/

.error_card{
    display: none;
    background-color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: black 15px double;
    border-radius: 15px;
    box-shadow: 1px 1px 4px black;
}

.error_card img{
    max-width: 200px;
    padding: 10px;
    margin-left: 50%;
    transform: translateX(-50%);
}

.error_card h5{
    max-width: 320px;
    padding: 2px 15px 2px 15px;
    font-size: 15px;
    text-align: center;
    font-family: Tahoma;
}

.error_card > .wrapper{
    position: relative;
}