/*
    Font Imports
*/
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Exo+2:wght@500&family=Quicksand:wght@300;400;500;600;700&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400&family=Roboto&family=Sofia+Sans+Semi+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;700&display=swap');

/*
    OVERIDING BODY AND SOME COMMON NAVBAR CLASSES
*/

body{
    background: url("../imgs/laser_back.jpg");
    background-attachment: fixed;
    background-size: cover;
}

.rightnav ul li a{
    color: rgb(255, 0, 0);
}

.rightnav ul li a:visited{
    color: rgb(255, 0, 0);
}


#submenu > li > a{
   color: yellow; 
}

#submenu > li > a:visited{
    color: yellow;
}

#submenu > li > a:hover{
    color: black;
}

/*
    CONTACT US TITLE
*/

.contactus_title{
    margin-top: 145px;
}

.contactus_title h2{
    font-family: 'DM sans';
    font-size: 35px;
    text-transform: uppercase;
    text-align: center;
    padding: 15px 0;
    background-color: yellow;
    transition: 0.4s ease-in;
    font-weight: 700;
    color: black;
    text-shadow: 1px 1px 2px black;
}

.contactus_form{
    margin-top: 20px;
}

/*
    FORM
*/

.formwrapper{
    background: rgba(250, 35, 193, 0.8);
    border-radius: 3px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 2px magenta solid;
}

.form_left{
    padding-left: 30px;
}

.formwrapper .form_left form{
    padding: 50px 30px;
    
}

.formwrapper .form_left form label{
    font-size: 18px;
    font-family: sans-serif;
    padding: 0px 10px;
    color: rgb(255, 255, 255);
    border: 1px blue solid;
    padding: 3px;
    background-color: black;
}

.formwrapper .form_left form input{
    height: 40px;
    font-size: 17px;
    background-color: transparent;
    border: none;
    border-bottom: 2px black solid;
    margin-bottom: 10px;
    display: block;
    margin-right: 0px;
    width: 300px;
    color: white;
}




/*
    TEXT AREA
*/
form textarea{
    display: block;
    border: 1px solid blue;
    font-size: 15px;
    width: 300px;
    height: 100px;
    padding: 3px;
}


/*
    SUBMIT BUTTON
*/
button[type="submit"]{
    font-family: 'open-sans', sans-serif;
    background-color: #e5ef3f;
    color: #0785db;
    font-family: Roboto, 'Times New Roman', Times, serif;
    padding: 10px 20px;
    width: 300px;
    font-weight: 700;
    font-size: 26px;
    transition: 0.1s ease-in;
}

button[type="submit"]:hover{
    color: #e5ef3f;
    background-color: #0785db;
    border: 1px solid black;
    box-shadow: 0px 0px 3px black;
}


/*
    GOOGLE MAP VIEW 
*/

.map_address{
    padding: 10px;
    margin: auto auto;
    border: 3px red solid;
    background-color: rgb(255, 0, 0, 0.7);
}
