/*
    Font Imports
*/
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Exo+2:wght@500&family=Quicksand:wght@300;400;500;600;700&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400&family=Roboto&family=Sofia+Sans+Semi+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;700&display=swap');

/*
    OVERIDING BODY AND SOME COMMON NAVBAR CLASSES
*/

body{
    background: url("../imgs/laser_back.jpg");
    background-attachment: fixed;
    background-size: cover;
}


#submenu > li > a{
   color: yellow; 
}

#submenu > li > a:visited{
    color: yellow;
}

#submenu > li > a:hover{
    color: black;
}

/*
    CONTACT US TITLE
*/

.contactus_title{
    margin-top: 165px;
}

.contactus_title h2{
    font-family: 'DM sans';
    font-size: 37px;
    text-transform: uppercase;
    text-align: center;
    padding: 15px 0;
    background-color: yellow;
    transition: 0.4s ease-in;
    font-weight: 700;
    color: black;
    text-shadow: 1px 1px 2px black;
    width: 40%;
    margin: auto;
    transition: width 2s linear;
}

.contactus_title h2.loaded{
    width: 100%;
}

.contactus_form{
    margin-top: 20px;
}

/*
    FORM
*/

.formwrapper{
    background: rgba(250, 35, 193, 0.8);
    border-radius: 3px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 2px magenta solid;
}

.form_left{
    padding-left: 30px;
}

.formwrapper .form_left form{
    padding: 50px 30px;
    
}

.formwrapper .form_left form label{
    font-size: 18px;
    font-family: sans-serif;
    padding: 0px 10px;
    color: rgb(255, 255, 255);
    border: 1px blue solid;
    padding: 3px;
    background-color: black;
}

.formwrapper .form_left form input{
    height: 40px;
    font-size: 17px;
    background-color: transparent;
    border: none;
    border-bottom: 2px black solid;
    margin-bottom: 10px;
    display: block;
    margin-right: 0px;
    width: 300px;
    color: darkblue;
}




/*
    TEXT AREA
*/
form textarea{
    display: block;
    border: 1px solid blue;
    font-size: 15px;
    width: 300px;
    height: 100px;
    padding: 3px;
}


/*
    SUBMIT BUTTON
*/
button[type="button"]{
    font-family: 'open-sans', sans-serif;
    background-color: #e5ef3f;
    color: #0785db;
    font-family: Roboto, 'Times New Roman', Times, serif;
    padding: 10px 20px;
    width: 300px;
    font-weight: 700;
    font-size: 26px;
    transition: 0.1s ease-in;
}

button[type="button"]:hover{
    color: #e5ef3f;
    background-color: #0785db;
    border: 1px solid black;
    box-shadow: 0px 0px 3px black;
}


/*
    GOOGLE MAP VIEW 
*/

.map_address h2{
    padding: 7px 10px;
    text-align: center;
    color: white;
    font-family: Helvetica;
}

.map_address{
    padding: 10px;
    margin: auto auto;
    border: 3px red solid;
    background-color: rgb(255, 0, 0, 0.7);
}

/*
    THANK YOU CARD
*/

.thanks_card{
    display: none;
    background-color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: black 15px double;
    border-radius: 15px;
    box-shadow: 1px 1px 4px black;
}

.thanks_card img{
    padding: 10px;
    margin-left: 50%;
    transform: translateX(-50%);
}

.thanks_card h5{
    max-width: 320px;
    padding: 2px 15px 2px 15px;
    font-size: 18px;
    text-align: justify;
    font-family: Tahoma;
}

.thanks_card > .wrapper{
    position: relative;
}

.cross{
    position: absolute;
    right: 0;
    top: 0;
}

.cross img{
    width: 40px;
    transition: width 0.1s ease-in;
}

.cross img:hover{
    width: 50px;
}

/*
    ERROR CARD
*/

.error_card{
    display: none;
    background-color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: black 15px double;
    border-radius: 15px;
    box-shadow: 1px 1px 4px black;
}

.error_card img{
    max-width: 200px;
    padding: 10px;
    margin-left: 50%;
    transform: translateX(-50%);
}

.error_card h5{
    max-width: 320px;
    padding: 2px 15px 2px 15px;
    font-size: 22px;
    text-align: justify;
    font-family: Tahoma;
}

.error_card > .wrapper{
    position: relative;
}