/*
    Font Imports
*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Exo+2:wght@500&family=Quicksand:wght@300;400;500;600;700&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400&family=Roboto&family=Sofia+Sans+Semi+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ysabeau+Infant&display=swap');
/*
    COMMON CLASSES
*/

.flex-no-wrap{
    flex-wrap: nowrap;
}

/*
    _____ CSS BODY _____
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: gray;
    min-height: 100%;
    background: url("../imgs/plexus-background.jpg");
    background-size: cover;
    background-attachment: fixed;
}

.page{

}

.container{
    margin-left:  6%;
    margin-right: 6%;
}

.header_wrapper_outer{
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 11;
    height: 0px;
    transition: height 0.1s ease-in 0s;
}

.header_wrapper_outer:hover{
    height: 145px;
}

.header_wrapper{
    background-color: rgba(0, 0, 100, 0.4);
    backdrop-filter: blur(10px);
    transition: background-color 0.5s ease;
}


header{
    margin: 0 10%;
    display: flex;
    justify-content: space-between;
    padding:20px 0px;
    align-items: center;
    max-height: 20%;
}

.logo img{
    max-height: 100px;
}

.rightnav{
    position: relative;
}

.rightnav ul{
    list-style: none;
    display: flex;
    overflow: hidden;
    display: flex;
    flex-direction: row;
}

.rightnav ul li{
}

.rightnav>ul>li>a{
    padding: 0 20px;
    color: rgb(220, 0, 0 );
    font-family: 'Exo 2';
    font-size: x-large;
    transition: 0.2s linear;
    text-decoration: none;
    white-space: nowrap;
}


.rightnav>ul>li>a:visited{
    color: rgb(220, 0, 0 );
}

.rightnav>ul>li>a:hover{
    color: white;
    border-bottom: 2px white solid;
}

.rightnav > ul > li:not(:last-child)::after{
    content: "|";
    color: yellow;
    font-size: x-large;
}
/*
    NAVIGATION SUB MENU
*/

.menuactivator{
    white-space: nowrap;
}

.innermenubtn{
    display: inline;
    color: white;
}

#submenu {
    position: absolute;
    list-style: none;
    right: 0;
    bottom: -70px;
    overflow: visible;
    text-align: center;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    border-radius: 10px;
}

.innerlist{  
    text-align: center;
    border-radius: 5px;
    background: rgb(140, 0, 0);
    border: 1px black solid;
    margin-bottom: 3px;
}

.innerlist{
    color: yellow;
}

.innerlink{    
    padding: 0 20px;
    color: yellow;
    font-family: 'Exo 2';
    font-size: x-large;
    transition: 0.2s linear;
    text-decoration: none;
}

.innerlink:visited{
    color: yellow;
}

.innerlink:hover{
    color: black;
    background-color: white;
}

/*
    SERVICES INTRO
*/

.services_intro{
    margin-top: 0px;
    padding-top: 170px;
}

.services_intro h3{
    font-family: 'Open Sans';
    letter-spacing: 0.2cap;
    color: rgb(200, 100, 30);
    text-align: center;
    font-size: 60px;
    text-transform: uppercase;
    font-weight: 800;
    padding: 30px 0;
    transition: 0.2s ease-in-out ;
    background-color: rgb(8, 94, 93, 0.4);
    margin-left: 20%;
    margin-right: 20%;
    border: 1px solid white;
}

.services_intro h3:hover{    
    font-size: 63px;
    margin-left: 0;
    margin-right: 0;
    border-left: none;
    border-right: none;
    border-width: 2px;
    background-color: rgb(8, 94, 93, 0.6);
}

.services_intro h3 strong{
    text-shadow: 2px 2px 10px black;
}

/*
    THE IMAGE SLIDER (CAROUSEL)
*/

.services_intro .img_slider{
    margin-top: 60px;
    display: flex;
    align-content: center;
    justify-content: center;
    position: relative;
}

/*
    IMAGE SLIDER BUTTONS
*/
.arrow{
    position: absolute;
    transition: visiblity ;
    opacity: 0;
    transition: opacity 0.2s ease-in;
}

.img_slider:hover .arrow{
    opacity: 1;
}

.img_slider>img{
    max-width: 90%;
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgb(0, 0, 0);
}

.arrow img{
    width: 50px;
    height: 40px;
}

.arrow:hover{
    box-shadow: 1px 1px 30px white;
}

.left_arrow{
    top: 45%;
    left: 1%;
}

.right_arrow{
    top: 45%;
    right: 1%;
}

/*
    SERVICE CARD
*/

.service_details{
    margin-top: 50px;
    margin-bottom: 50px;
}

.service_card{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 40px;
    margin-left: 90px;
    margin-right: 90px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px red solid;
    border-radius: 3px;
    background-color: rgb(160, 203, 248, 0.85);
    box-shadow: 2px 2px 5px blue;
}

.service_card:hover{
    background-color: rgb(140, 200, 255, 0.94);
}

.service_card .service_left{
    width: 20%;
    display: flex;
    justify-content: center;
}

.service_card .service_left .service_icon_wrapper img{
    width: 140px;
}


.service_card .service_right{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.service_name{
    font-family: 'Ysabeau Infant';
    font-size: 26px;
    color: #065456;
    text-shadow: 1px 1px 2px black;
}

.service_desc{
    font-family: 'Public Sans';
    color: #01003C;
}